<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VacationSpots.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9B717EF1DC07AD500F567E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9B718061DC07AD500F567E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9B718111DC07AD500F567E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
